<!doctype html>
<html>
	
	<head>

		<title>About</title>

		<link href="/bootstrap.css" rel="stylesheet">

    	<style>
    
    	div.margin{
      	margin-left: 60px;
    	}
    
    	img.margin{
     	 margin-bottom: 30px;
    	}

    	body
    	{
      	background-color:#F8F8F8;
    	}

    	</style>
  
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
      </div>
    </div> 

    <div class="margin">
      <h1>About James and Groupmind</h1>

    <div class="margin">
      <p class="lead">I decided to make GroupMind for a web development course that I'm currently taking called 
        Bloc. Part of the course involves building your own web app with Ruby on Rails. Because I have a passion for 
        learning and teaching others, this app seemed like the perfect fit!</p>

  </body>

  </html>

