<!doctype html>
<html>

<head>

	<title>Contact</title>

	<link href="/bootstrap.css" rel="stylesheet">

    <style>
    
    div.margin{
      margin-left: 60px;
    }
    
    img.margin{
     	margin-bottom: 30px;
    }

    body
    {
      background-color:#F8F8F8;
    }

    </style>

</head>


<body>

	<div class="navbar">
      <div class="navbar-inner">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li class="active"><a href="contact">Contact</a></li>
          </ul>
      </div>
    </div> 

    
    <div class="margin">
    	<h1>Contact me about Groupmind</h1>
    	<p class="lead">jmdickerson2@gmail.com</p>


</body>




</html>