	<div class="navbar">
      <div class="navbar-inner">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li class="active"><a href="contact">Contact</a></li>
          </ul>
      </div>
    </div> 

    
    <div class="margin">
    	<h1>Contact me about Groupmind</h1>
    	<p class="lead">jmdickerson2@gmail.com</p>
