     <div class="navbar">
      <div class="navbar-inner">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
      </div>
    </div>   


    <header>
      <div class="hero-unit">
        <h1>Welcome to GroupMind</h1>
          <p>The easiest way to make money from what you know.</p>
      </div>
    </header>



    <div class="margin">
    <h2>Here's how GroupMind works</h2>
    </div>

    <div class="margin">
    <h3>Step 1: Come up with your course and think of a lesson to share each day of the week</h4>
      <br> 

        <img class="margin" src="http://placekitten.com/300/200"> 
      
        <p class="lead">Lose 3 pounds this week</p>
        <p class="lead"> Go from couch to 5k</p>
        <p class="lead">  7 super healthy recipes</p>
        
    </div>
    
    <div class="margin">  
    <h3>Step 2: Create great content that will help others learn</h3>
      <br> 

        <img class="margin" src="http://placekitten.com/300/200">
        
        <p class="lead">Record a YouTube video and load them up for each day in our easy to use builder</p>
        <p class="lead">Add extra instructions or an outline of the video</p>
        <p class="lead">Finish up with a homework assignment for each day</p>
    </div>    
    
    
    <div class="margin">
    <h3>Step 3: Publish it, price it, promote it!</h3>
      <br> 

        <img class="margin" src="http://placekitten.com/300/200">
      
        <p class="lead">Once you have a great week long course, publish and review it</p>
        <p class="lead">Decide what your knowledge is worth (and change your price anytime)</p>
        <p class="lead">Promote your GroupMind course to your list, friends, & followers!</p>
    </div> 
    
    <div class="margin">
    <h3>It's that easy - create your account today.</h3>
    </div> 
