<!doctype html>
<html>
<head>

	<title>Welcome to GroupMind</title>

	<link href="/bootstrap.css" rel="stylesheet">

    <style>
    
    div.margin{
      margin-left: 60px;
    }
    
    img.margin{
     	margin-bottom: 30px;
    }

    body
    {
      background-color:#F8F8F8;
    }

    </style>

</head>

<body>
<%= yield %>
</body>



</html>